.heroLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important
}

/* ----------------font start------------------- */
@font-face {
  font-family: sleekFont;
  src: url("../fonts/poiret-one-font/PoiretOne-aD0x.ttf")
}

@font-face {
  font-family: damionFont;
  src: url("../fonts/damion-font/Damion-8gnD.ttf")
}

.damionFont {
  font-family: Courier New;
  font-weight: 600
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tile {
  position: relative;
}

.message {
  display: none;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(-45deg); /* Added rotate() function */
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  color: rgb(4 157 227);
  padding: 10px;
}

.tile:hover .message {
  display: block;
}




/* ----------------font end------------------- */













/* sections--------------------- */
.back {
  background-color: #000000;
}
#hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
    url("../img/backgroundHero.jpeg") no-repeat center bottom / cover;
  color: whitesmoke;

}

#works {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
  url("../img/blackBack.png") no-repeat center bottom / cover;



}

#about {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
    url("../img/backgroundHero.jpeg") no-repeat center bottom / cover;

    
}

#skills {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
 
  padding-top: 10%;
}

#Contact {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
}


#footer {
  background-color: #000000;
}

/* -------------------------------------------sections end */
















/* landing--------------------------------------- */
.heroContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

video {
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

.onMobile {
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

.text-box {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(4, 4, 4);
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  mix-blend-mode: multiply;
}

.heroBigText {
  font-size: 450px !important;
}

.heroBottom {
  font-size: 30px !important;
  bottom: 130px;
  position: relative;
}

.btn {
  color: black !important;
  background-color: white !important;
  width: 8%;
  padding-bottom: 10%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: -100px;
}


/* -------------------------------------------landing */




/* -----------------------nav */

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  position: fixed;
  top: 1rem;
  right: 1rem;
 
}

.hamburger .line {
  width: 2rem;
  height: 0.25rem;
  background: rgb(255, 255, 255);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  z-index: 10;
  color: #f5f5f5;
}

.menu-item {
  padding: 1rem;
  font-size: 3rem
}




/* ----------------nav */






/* Home------------------------------------- */



/* home hero ------------------ */
.heroImageMe {
  position: absolute;
  bottom: -450px;
  right: 200px;
  height: 70%;
  background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), ;
}

.heroName {
  color: rgb(4 157 227);
}


#hero .info h1 {
  font-size: 6rem !important;
  margin-bottom: 1rem;
}

#hero .info h2 {
  font-size: 3.5rem !important;
  margin-bottom: 2rem;
}

#hero .info p {
  font-size: 1.7rem !important;
  max-width: 50%;
}

.headerPeriod {
  color: rgb(4 157 227);
}

.info {
  color: white;
  font-size: 60px;
}

.containerIMWILL {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  padding-top: 10%;
  padding-left: 5%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
}

/* /line seperation hero/ */
.productLine {
  width: 85px;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(4 157 227);
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}

/* home hero ------------------------------------------------ */















/* works ------------------------------------------------ */



.worksHeader {
font-size: 5rem;
position: absolute;
color: white;
height: 10%;
width: 10%;
text-decoration: underline;
text-decoration-color: rgb(4 157 227);
padding-top: 15%;
padding-left: 10%;
transform: rotateX(-45deg) rotateZ(-45deg);
}


.grid {
  width: 100%;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-block {
  width: 50%;
  min-height: 11.25rem;
  padding: 1rem;
}

.image-grid {
  -webkit-transform: rotateX(45deg) rotateZ(45deg);
  transform: rotateX(45deg) rotateZ(45deg);
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.image-grid .tile-link:hover .tile-img {
  top: -1rem;
  left: -1rem;
}

.image-grid .tile-img {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: opacity, top, left, box-shadow;
  transition-property: opacity, top, left, box-shadow;
}

.tile-link {
  display: block;
}

.tile-link:hover .tile-img {
  opacity: 1;
}

.tile-link:hover .tile-img-link {
  display: block;
}

.tile-link:hover .tile-img-link:hover .tile-img {
  opacity: 0.5;
}

.tile-img {
  display: block;
  width: 80%;
  height: auto;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.tile-link:hover .tile-img1 {
  box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}

.tile-link:hover .tile-img2 {
  box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}

.tile-link:hover .tile-img3 {
  box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}

.tile-link:hover .tile-img4 {
  box-shadow: 5px 5px rgb(4 157 227), 10px 10px rgb(4 157 227),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}

.tile-link:hover .tile-img5 {
  box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}

.tile-link:hover .tile-img6 {
  box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}













/* ---------------------------------------------------------works */



/* about ------------------------------------------------ */


/* ///Know the developer sizing/// */
h3 {
  font-size: 60px !important;
}

/* order border to KNOW in know the developer */
.aboutKnow {
  border-style: solid;
  border: #049de3;
  border-left: 3px solid rgb(4 157 227);
  border-top: 3px solid rgb(4 157 227);
  padding: 1%;
}


.aboutText {
  width: 70%;
  max-width: 1100px;
  margin-top: 25px;
  font-family: serif, sans-serif;
  color: #f5f5f5;
  font-size: 17px;
  line-height: 32px;
  text-align: justify;
}

.aboutContainer {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
}

/* //about section picture change styling */
canvas {
  border-style: solid;
  border: #049de3;
  border-right: 3px solid rgb(4 157 227);
  padding: 30px;
  border-bottom: 3px solid rgb(4 157 227);
  height: 500px !important;
  width: 500px !important;
}

.infoAbout {
  color: white;
}

/* about ------------------------------------------------ */
























/* skills---------------------------------------------------- */

/* /keeps skills in columns/ */
.SkillsContainer {
  display: flex;
  flex-direction: column;
  height: 5%;
}



/* text under icons in skills */
#skills p {
  font-size: 15px;
}

/* centers skills heading */
.skillsSkills {
  display: flex;
  justify-content: center;
}

/* skills heading color font underline */
.skillsSkills h1 {
  font-size: 50px;
  border-bottom: 3px solid rgb(4 157 227);
  color: white;
}

.p-5 {
  padding: 3rem!important;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


/* ------------------------------------------------------skills end */










/* footer--------------------------------------------------- */





























/* 
---------------------------------------------------footer */












/* <------------------------------ CONTACT START ------------------------> */
#Contact {
  background-color: #725e39;
  height: 100vh !important;
  background-image: linear-gradient(rgba(39, 42, 59, 0.6) 100%, transparent 0), url('../img/backgroundHero.jpeg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: center;
  mask-image: linear-gradient(360deg, transparent 5%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 70%, transparent 95%);
  overflow: hidden;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.contactHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sleekFont;
  color:#049de3;
  font-size: 10vh;
  padding: 5%;
  padding-bottom: 5%;
  margin: auto;

}

label {
  color: white;
  font-family: muliFont;
  padding: 15px;
}

input {
  width: 20vw;
  height: 3vh;
}

textarea {
  width: 25vw;
  height: 3vh;
}


/* CSS */
.btnn {
  appearance: button;
  background-color: #181924;
  background-image: none;
  border: 1px solid #181924;
  border-radius: 4px;
  box-shadow: #049de3 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 5px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-family: moonFont;
  margin-top: 8%;
}

.btnn:focus {
  text-decoration: none;
}

.btnn:hover {
  text-decoration: none;
}

.btnn:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.btnn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .btnn {
    padding: 12px 50px;
  }
}


.contactFormContainer {
  padding-bottom: 20%;
}

/* <------------------- CONTACT END ------------------------> */















/* ********************* */
/* This Code is for only the floating card in right bottom corner */
/* ********************** */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.spanWorks {
  border: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 200px;
  color: #f7f7f7;
  font-size: 5px;
}

.spanText {
  font-size: 10px;
  padding-top: 1%;
}

.photoGrid {
  background-color: #000000 !important;
}



.skillsSizing {
  color: #fff;
  font-size: 50px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
}









































/* -------------media query------------------- */
/* Media Query for Mobile Devices */
@media (max-width: 499px) {


  #hero {
    height: 100vh;
    width: 100vw;
    
  }

  #home {
    overflow: hidden;
  }

  #works {
    padding-top: 50%;
  }

  #skills {
    padding-top: 35%;
    overflow: hidden;
  }

  #about {
    overflow: hidden !important;
  }





  .containerIMWILL {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    padding-top: 30%;
    padding-left: 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),;
}


  .info {
    color: white;
    font-size: 60px;
}



canvas {
  border-style: solid;
  border: #049de3;
  border-right: 3px solid rgb(4 157 227);
  padding: 18px;
  border-bottom: 3px solid rgb(4 157 227);
  height: 252px !important;
  width: 343px !important;
  margin-left: 5%;
}




  /* /// Container for icons in skills /// */
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
  }



  .heroImageMe {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 45%;
    width: auto;
  }

  #hero .info h1 {
    font-size: 1.7rem !important;
    padding-top: 0% !important;
    margin: 0;
}

  #hero .info h2 {
    font-size: 1.5rem !important;
    position: relative;
    margin: 0;
  }

  #hero .info p {
    font-size: .9rem !important;
    max-width: 70%;

  }

  .productLine.ver {
    width: 2px;
    height: 35px !important;
    position: relative;


  }




  .container2 {
    display: flex;
    flex-direction: column;
    padding-top: 50%;
  }


  .aboutKnow {

    padding: 2%;
    font-size: 1.7rem !important;

  }

  .damionFont {
    font-size: 1.7rem !important;
    padding-right: 0% !important;
}


  .aboutText {
    width: 95%;
    padding-left: 2%;
    max-width: 1100px;
    font-family: serif, sans-serif;
    color: #f5f5f5;
    font-size: 10px;
    line-height: 25px;
    font-weight: 100;
    text-align: justify;
    margin: 0 !important;
  }


 

  .skills {
    padding-top: 5%;
    border-bottom: 1px solid rgb(4 157 227) !important;
  }

  .skillsSizing {
    color: #fff;
    font-size: 14px !important;
   align-items: center;
   padding-right: 0;
}



  .SkillsContainer {
    display: contents;
    width: 100vh;
  }




  .heroBigText {
    font-size: 190px !important;
    margin-top: 10% !important;
  }


  .heroBottom {
    font-size: 15px !important;
    bottom: 70px;
    position: relative;
  }

  .btn {
    margin-top: 5%;
    width: 20% !important;
    height: auto;
}

  .aboutContainer {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),;
}



.p-5 {
  padding: 1rem!important;
  display: block;
}

.worksContainer {
  margin-top: -80%!important;
  padding-left: -10%!important;
  transform: scale(.85);
}

.worksHeader {
  color: #f5f5f5;
  display: flex;
  justify-content: left;
  text-decoration: underline;
  text-decoration-color: rgb(4 157 227);
  margin-bottom: -10%;
  font-size: 4rem !important;
 
}

#works {
  overflow: hidden;
}

.image-grid {
  -webkit-transform: rotateX(45deg) rotateZ(45deg);
  transform: rotateX(45deg) rotateZ(45deg);
  -webkit-perspective: 1000px;
  perspective: 1000px;

}

.btn {
  color: black !important;
  background-color: white !important;
  width: 10%;
  padding-bottom: 10%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: -100px;
}

.onDesktop{
  display: none;
}

video {
  display: none;
}

.onMobile {
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

.contactHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sleekFont;
  color: #049de3;
  font-size: 5vh !important;
  padding: 5%;
  padding-bottom: 5%;
  margin: auto;
}

.contactFormContainer {
padding-bottom: 17%;
padding-top: 40%;
}

input, optgroup, select, textarea {
font-family: sans-serif;
font-size: 100%;
line-height: 1.15;
margin: 0;
width: 60%;
}

.btnn {
width: 25% !important;
line-height: 5px;
}

.imgcontainer {
  padding-left: 5% !important;
}


.message {
  display: none;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(-45deg); /* Added rotate() function */
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  color: rgb(4 157 227);
  padding: 10px;
  font-size: 8px !important;
}


  


}























/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 500px) and (max-width: 767px) {

  .onMobile{
    display: none;
  }


  .imgcontainer {
    width: 100vw;
  }

  .container {
    width: 80%;
    height: 104%;
  }


  .heroImageMe {
    position: absolute;
    bottom: 0px;
    right: 55px;
    height: 45%;
    width: auto;
  }

  #hero .info h1 {
    font-size: 2.4rem !important;
    padding-top: 25%;
    padding-left: 12% !important;
 
}

  #hero .info h2 {
    font-size: 1.8rem !important;
    margin-bottom: 1.5rem;
    padding-left: 12% !important;
  }

  #hero .info p {
    font-size: 1rem !important;
    max-width: 70%;
    padding-left: 12% !important;
  }

  .productLine.ver {
    width: 2px;
    height: 40px !important;
    margin-left: 12% !important;

  }

  .spanText {

    font-size: 5px;
    width: 38%;

  }

  .aboutKnow {
    padding: 1%;
    font-size: 1.7rem !important;
  }

  h3 {
    font-size: 1.7rem;
  }

  .damionFont {
    font-size: 1.25rem !important;


  }

  .aboutContainer {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),;
    padding-top: 20%;
}


.aboutText {
  font-size: .9rem;
  line-height: 1rem;
  width: 82%;
  margin-left: 3%;
}


canvas {
  width: 300px !important;
  height: 250px !important;
  margin-left: 40%;
  margin-top: 20%;
  padding: 8px;
}

  .skills {
    padding-top: 5%;
    border-bottom: 1px solid rgb(4 157 227) !important;
  }

  .p-5 {
    padding: 2rem!important;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

  #skills{
    overflow: hidden;
  }

  #about{
    overflow: hidden;
  }

  .deviconSize {
    height: 10px !important;
  }

  .photoGrid {
    padding-top: 15%;
  }

  .skillsSizing {
    color: #fff;
    font-size: 25px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

  .row {
    display: flex;
    flex-direction: column !important;
    width: 40% !important;
  }

  .SkillsContainer {
    display: contents;
    width: 100vh;
  }



  .heroBigText {
    font-size: 200px !important;
  }

  .heroBottom {
    font-size: 20px !important;
    bottom: 60px;
    position: relative;
  }

  .btn {
    margin-top: 5%;
  }

  .worksContainer {
    padding-left: 5%;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    margin-top: -65% !important;
}
  
  #works {
    overflow: hidden;
  }

  .image-grid {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
    transform: rotateX(45deg) rotateZ(45deg);
    -webkit-perspective: 1000px;
    perspective: 1000px;
    overflow: scroll;
  }

  .btn {
    color: black !important;
    background-color: white !important;
    width: 10%;
    height: auto;
    padding-bottom: 10%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: -90px;
  }

  .worksHeader {
    font-size: 5rem !important;
    color: rgb(255, 255, 255);
    padding-top: 30%;
    

    }

    .contactHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: sleekFont;
      color: #049de3;
      font-size: 5vh !important;
      padding: 5%;
      padding-bottom: 5%;
      margin: auto;
  }

  .contactFormContainer {
    padding-bottom: 17%;
    padding-top: 40%;
}

input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  width: 60%;
}

.btnn {
  width: 20% !important;
  line-height: 5px;
}

}

  

















/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .onMobile{
    display: none;
  }

#skills {
  overflow: hidden;
}
  .container {
    width: 80%;
    height: 104%;
  }


  .heroImageMe {
    position: absolute;
    bottom: 0px;
    right: 50px;
    height: 55%;
    width: auto;
  }

  .info {
    padding-left: 10%;
  }

  #hero .info h1 {
    font-size: 3.4rem !important;
    padding-top: 10%;
  }

  #hero .info h2 {
    font-size: 3rem !important;
    margin-bottom: 2rem;
  }

  #hero .info p {
    font-size: 1.2rem !important;
    max-width: 50%;
  }

  .productLine.ver {
    width: 1px;
    height: 50px !important;
    margin-bottom: 6%;

  }

  .skillsSizing {
    color: #fff;
    font-size: 50px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 44px;
  }


  .spanText {

    font-size: 6.5px;
    width: 50%;

  }

  .aboutKnow {

    padding: 1%;
    font-size: 2.2rem !important;

  }

  .damionFont {
    font-size: 2.2rem !important;
   
  }


  .aboutText {
    font-size: .9rem;
    line-height: 1.3rem;
    margin-left: 3%;
    width: 100%;
  }

  canvas {
    width: 325px !important;
    height: 380px !important;
    margin-left: 21%;
    margin-top: 14% !important;
    padding: 8px;
}

  .skills {
    padding-top: 5%;
    border-bottom: 1px solid rgb(4 157 227) !important;
    display: flex;
    
  }

  .SkillsContainer {
    display: flex;
    height: 5%;
    flex-direction: initial;
}

  .p-5 {
    padding: 1rem !important;
  }

  .photoGrid {
    padding-top: 15%;
  }



  .heroBigText {
    font-size: 300px !important;
  }

  .heroBottom {
    font-size: 30px !important;
    bottom: 100px;
    position: relative;
  }

  .worksContainer {
    margin-top: -70% !important;
    padding-left: 0%;
    transform: scale(.9);
  }
  
  #works {
    overflow: hidden;
  }

  .worksHeader {
    font-size: 5rem !important;
    color: rgb(255, 255, 255);
    padding-top: 25%;
    padding-left: 0%;

    }

    .btnn {

      margin-top: 3%;
    }

    



}






















/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {

  .onMobile{
    display: none;
  }

  .heroImageMe {
    position: absolute;
    bottom: 0px;
    right: 100px;
    height: 60%;
    width: auto;
  }

  #hero .info h1 {
    font-size: 3.7rem !important;
    padding-top: 10%;
  }

  #hero .info h2 {
    font-size: 3rem !important;
    margin-bottom: 1rem;
  }

  #hero .info p {
    font-size: 1.3rem !important;
    max-width: 70%;
    width: 45%;
  }

  .productLine.ver {
    width: 1px;
    height: 60px !important;
    margin-bottom: 3%;
  }

  .skillsSizing {
    color: #fff;
    font-size: 50px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }


  .spanText {

    font-size: 7.5px;
    width: 70%;

  }

  .aboutKnow {

    padding: 1%;
    font-size: 3rem !important;
  }

  .damionFont {
    font-size: 3rem !important;
  }


  .aboutText {
    font-size: .8rem;
    padding-left: 2%;
    line-height: 29px;
  }

  canvas {
    width: 400px !important;
    height: 400px !important;
    margin-top: 8%;
  }

  .container2 {
    padding: 5% !important;
  }

  .p-5 {
    padding: 2rem !important;
  }


  .info {
    color: white;
    font-size: 60px;
    padding-bottom: 20%;
    padding-left: 10%;
  }

  .worksContainer {
    margin-top: -50% !important;
    padding-left: -10%;
    transform: scale(1.2);
  }
  
  #works {
    overflow: hidden;
  }

  .worksHeader {
    font-size: 7rem !important;
    color: rgb(255, 255, 255);
    padding-top: 20%;
    padding-left: 4%;

    }

    .btnn {

      margin-top: 3%;
    }

}












/* Media Query for Large screens */
@media (min-width: 1281px) {

  .onMobile{
    display: none;
  }

  .heroImageMe {
    position: absolute;
    bottom: 0;
    right: 200px;
    height: 65%;
    width: auto;
    background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), ;
  }

  #hero .info h1 {
    font-size: 4rem !important;
    margin-bottom: 1rem;
  }

  #hero .info h2 {
    font-size: 3rem !important;
    margin-bottom: 2rem;
  }

  #hero .info p {
    font-size: 1.5rem !important;
    max-width: 70%;
    width: 40%;
  }

  .productLine.ver {
    width: 2px;
    height: 80px !important;
    margin-bottom: 5%;
  }

  .skillsSizing {
    color: #fff;
    font-size: 50px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 44px;
  }


  .spanText {

    font-size: 8px;
    width: 86%;

  }

  .info {
    padding-bottom: 20% !important;
    padding-left: 15%;
  }

  .worksContainer {
    margin-top: -50% !important;
    padding-top: 10%;
    padding-right: -10%;
    transform: scale(1.4);
  }
  
  #works {
    overflow: hidden;
  }

  .worksHeader {
    font-size: 6rem;
    color: rgb(255, 255, 255);
    padding-top: 20%;
    padding-left: 7%;

    }

    .contactFormContainer {
      padding-top: 8%;
    }

    .btnn {

      margin-top: 4% !important;
    }


}











@media (min-width: 1500px) {
  .info {
    padding-bottom: 15% !important;
    padding-left: 25%;
  }

  .worksContainer {
    margin-top: -50% !important;
    transform: scale(1.2);
  }
  
  #works {
    overflow: hidden;
  }


  .worksHeader {
    font-size: 6rem;
    color: rgb(255, 255, 255);
    padding-top: 20%;
    padding-left: 7%;

    }

    .btnn {

      margin-top: 4% !important;
    }
  
  
}









/* Media Query for Extra Large screens */
@media (min-width: 1901px) {

  .heroContainer {
    width: 100% !important;
    height: 100vh;
    overflow: hidden;
}

  .heroImageMe {
    position: absolute;
    bottom: 0;
    right: 350px;
    height: 75%;
    width: auto;
  }

  .info {
    padding-bottom: 10%;
    margin-right: 10%;
}



#hero .info p {
  font-size: 1.5rem !important;
  max-width: 70%;
  width: 45%;
}

.productLine.ver {
  width: 2px;
  height: 80px !important;
  margin-bottom: 05%;
  margin-left: 0%;
}

.worksContainer {
  margin-top: -45% !important;
  padding-right: 15%;
  transform: scale(1.3);
}

.worksHeader {
  color: white;
  display: flex;
  justify-content: left;
  text-decoration-color: rgb(4 157 227);
 font-size: 8rem;
 padding-bottom: -10% !important;

}

#works {
  overflow: hidden;
}


.tile-img {
  display: block;
  width: 90%;
  height: auto;
}

.btnn {

  margin-top: 3%;
}

.contactFormContainer {
  padding-top: 3%;
}






}