.heroLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important
}

/* ----------------font start------------------- */
@font-face {
  font-family: sleekFont;
  src: url("../fonts/poiret-one-font/PoiretOne-aD0x.ttf")
}

@font-face {
  font-family: damionFont;
  src: url("../fonts/damion-font/Damion-8gnD.ttf")
}

.damionFont {
  font-family: Courier New;
  font-weight: 600
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* ----------------font end------------------- */

/* ------------------------- nav start--------------------------------- */


nav {
  float: right !important;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000 !important;
}

.navContainer {
  position: fixed;
  right: 0;
  float: right !important;
  background-color: transparent !important;
  padding-right: 20px;
}

nav .logo {
  width: 80px;
}

li {
  font-family: sleekFont;
  background-color: transparent;
  margin: 0;
}


nav ul li a {
  text-decoration: none;
  color: white !important;
  font-size: 17px;
  font-family: sleekFont;
}

a {
  color: white !important;
}

ul {
  margin-top: 0;
  /* margin-bottom: 1rem; */
}

/* ------------------------- nav end--------------------------------- */












/* sections--------------------- */
#hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
    url("../img/backgroundHero.jpeg") no-repeat center bottom / cover;
  color: whitesmoke;
  background-image: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
}

#works {
  
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
  url("../img/blackBack.png") no-repeat center bottom / cover;
}

#about {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
    url("../img/backgroundHero.jpeg") no-repeat center bottom / cover;
}

#skills {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}


#footer {
  background-color: #000000;
}

/* -------------------------------------------sections end */
















/* landing--------------------------------------- */
.heroContainer {
  width: 100%;
  height: 100vh;
  position: relative;
}

.heroContainer {
  width: 100% !important;
  height: 100%;
}

.text-box {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(4, 4, 4);
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  mix-blend-mode: multiply;
}

.heroBigText {
  font-size: 500px !important;
}

.heroBottom {
  font-size: 30px !important;
  bottom: 130px;
  position: relative;
}

.btn {
  color: black !important;
  background-color: white !important;
  width: 8%;
  padding-bottom: 10%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* -------------------------------------------landing */











/* Home------------------------------------- */



/* home hero ------------------ */
.heroImageMe {
  position: absolute;
  bottom: -450px;
  right: 200px;
  height: 70%;
  background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), ;
}

.heroName {
  color: rgb(4 157 227);
}


#hero .info h1 {
  font-size: 6rem !important;
  margin-bottom: 1rem;
}

#hero .info h2 {
  font-size: 3.5rem !important;
  margin-bottom: 2rem;
}

#hero .info p {
  font-size: 1.7rem !important;
  max-width: 50%;
}

.headerPeriod {
  color: rgb(4 157 227);
}

.info {
  color: white;
  font-size: 60px;
}

.containerIMWILL {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  padding-top: 10%;
  padding-left: 5%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
}

/* /line seperation hero/ */
.productLine {
  width: 85px;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(4 157 227);
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}

/* home hero ------------------------------------------------ */















/* works ------------------------------------------------ */





.grid {
  width: 100%;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-block {
  width: 50%;
  min-height: 11.25rem;
  padding: 1rem;
}

.image-grid {
  -webkit-transform: rotateX(45deg) rotateZ(45deg);
  transform: rotateX(45deg) rotateZ(45deg);
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.image-grid .tile-link:hover .tile-img {
  top: -1rem;
  left: -1rem;
}

.image-grid .tile-img {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: opacity, top, left, box-shadow;
  transition-property: opacity, top, left, box-shadow;
}

.tile-link {
  display: block;
}

.tile-link:hover .tile-img {
  opacity: 1;
}

.tile-link:hover .tile-img-link {
  display: block;
}

.tile-link:hover .tile-img-link:hover .tile-img {
  opacity: 0.5;
}

.tile-img {
  display: block;
  width: 80%;
  height: auto;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.tile-link:hover .tile-img1 {
  box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}

.tile-link:hover .tile-img2 {
  box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}

.tile-link:hover .tile-img3 {
  box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}

.tile-link:hover .tile-img4 {
  box-shadow: 5px 5px rgb(4 157 227), 10px 10px rgb(4 157 227),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}

.tile-link:hover .tile-img5 {
  box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}

.tile-link:hover .tile-img6 {
  box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}










/* ---------------------------------------------------------works */



/* about ------------------------------------------------ */


/* ///Know the developer sizing/// */
h3 {
  font-size: 60px !important;
}

/* order border to KNOW in know the developer */
.aboutKnow {
  border-style: solid;
  border: #049de3;
  border-left: 3px solid rgb(4 157 227);
  border-top: 3px solid rgb(4 157 227);
  padding: 1%;
}


.aboutText {
  width: 70%;
  max-width: 1100px;
  margin-top: 25px;
  font-family: serif, sans-serif;
  color: #f5f5f5;
  font-size: 17px;
  line-height: 32px;
  text-align: justify;
}

.aboutContainer {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
}

/* //about section picture change styling */
canvas {
  border-style: solid;
  border: #049de3;
  border-right: 3px solid rgb(4 157 227);
  padding: 30px;
  border-bottom: 3px solid rgb(4 157 227);
}

.infoAbout {
  color: white;
}

/* about ------------------------------------------------ */
























/* skills---------------------------------------------------- */

/* /keeps skills in columns/ */
.SkillsContainer {
  display: flex;
  flex-direction: column;
  height: 5%;
}

/* text under icons in skills */
#skills p {
  font-size: 15px;
}

/* centers skills heading */
.skillsSkills {
  display: flex;
  justify-content: center;
}

/* skills heading color font underline */
.skillsSkills h1 {
  font-size: 50px;
  border-bottom: 3px solid rgb(4 157 227);
  color: white;
}

.p-5 {
  padding: 3rem!important;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


/* ------------------------------------------------------skills end */










































@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

/* ********************* */
/* This Code is for only the floating card in right bottom corner */
/* ********************** */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.spanWorks {
  border: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 200px;
  color: #f7f7f7;
  font-size: 5px;
}

.spanText {
  font-size: 10px;
  padding-top: 1%;
}

.photoGrid {
  background-color: #000000 !important;
}



.skillsSizing {
  color: #fff;
  font-size: 50px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

















/* -------------media query------------------- */
/* Media Query for Mobile Devices */
@media (max-width: 499px) {


  #hero {
    height: 100vh;
    width: 100vw;
  }

  #home {
    overflow: hidden;
  }

  #works {
    padding-top: 50%;
  }

  #skills {
    padding-top: 35%;
    overflow: hidden;
  }

  #about {
    overflow: hidden !important;
  }


  nav {
    float: left !important;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000 !important;
  }


  .containerIMWILL {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    padding-top: 30%;
    padding-left: 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),;
}


  .info {
    color: white;
    font-size: 60px;
}

  .navContainer {
    position: fixed;
    right: 0;
    float: right !important;
    background-color: transparent !important;
    padding-right: 20px;
  }

canvas {
    width: 375px !important;
    height: 375px !important;
}




  /* /// Container for icons in skills /// */
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
  }



  .heroImageMe {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 45%;
    width: auto;
  }

  #hero .info h1 {
    font-size: 1.7rem !important;
    padding-top: 0% !important;
    margin: 0;
}

  #hero .info h2 {
    font-size: 1.5rem !important;
    position: relative;
    margin: 0;
  }

  #hero .info p {
    font-size: .9rem !important;
    max-width: 70%;

  }

  .productLine.ver {
    width: 2px;
    height: 35px !important;
    position: relative;


  }




  .container2 {
    display: flex;
    flex-direction: column;
    padding-top: 50%;
  }


  .aboutKnow {

    padding: 2%;
    font-size: 1.7rem !important;

  }

  .damionFont {
    font-size: 1.7rem !important;
    padding-right: 0% !important;
}


  .aboutText {
    width: 95%;
    padding-left: 2%;
    max-width: 1100px;
    font-family: serif, sans-serif;
    color: #f5f5f5;
    font-size: 10px;
    line-height: 25px;
    font-weight: 100;
    text-align: justify;
    margin: 0 !important;
  }


 

  .skills {
    padding-top: 5%;
    border-bottom: 1px solid rgb(4 157 227) !important;
  }

  .skillsSizing {
    color: #fff;
    font-size: 14px !important;
   align-items: center;
   padding-right: 0;
}



  .SkillsContainer {
    display: contents;
    width: 100vh;
  }




  .heroBigText {
    font-size: 120px !important;
    margin-top: 10% !important;
  }


  .heroBottom {
    font-size: 15px !important;
    bottom: 70px;
    position: relative;
  }

  .btn {
    margin-top: 5%;
    width: 20%;
    height: 5%;
  }

  .aboutContainer {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),;
}



.p-5 {
  padding: 1rem!important;
  display: block;
}

.worksContainer {
  margin-top: 20% !important;
  padding-left: 5%;
  transform: scale(2.1);
}

#works {
  overflow: hidden;
}
  
  


}















/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 500px) and (max-width: 767px) {


  .nav {
    overflow: hidden !important;
  }


  .navContainer {
 
    margin-right: 30%;
    overflow: hidden !important;
  }

  .imgcontainer {
    width: 100vw;
  }

  .container {
    width: 80%;
    height: 104%;
  }


  .heroImageMe {
    position: absolute;
    bottom: 0px;
    right: 55px;
    height: 45%;
    width: auto;
  }

  #hero .info h1 {
    font-size: 2.4rem !important;
    padding-top: 25%;
    padding-left: 12% !important;
 
}

  #hero .info h2 {
    font-size: 1.8rem !important;
    margin-bottom: 1.5rem;
    padding-left: 12% !important;
  }

  #hero .info p {
    font-size: 1rem !important;
    max-width: 70%;
    padding-left: 12% !important;
  }

  .productLine.ver {
    width: 2px;
    height: 40px !important;
    margin-left: 12% !important;

  }

  .spanText {

    font-size: 5px;
    width: 38%;

  }

  .aboutKnow {
    padding: 1%;
    font-size: 1.7rem !important;
  }

  h3 {
    font-size: 1.7rem;
  }

  .damionFont {
    font-size: 1.25rem !important;


  }


  .aboutText {
    font-size: .5rem;
    line-height: 1rem;
    width: 230%;
    margin-left: 3%;
}


  canvas {
    width: 200px !important;
    height: 250px !important;
    margin-left: 40%;
    margin-top: 20%;
    padding: 8px;

  }

  .skills {
    padding-top: 5%;
    border-bottom: 1px solid rgb(4 157 227) !important;
  }

  .p-5 {
    padding: 2rem!important;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

  #skills{
    overflow: hidden;
  }

  #about{
    overflow: hidden;
  }

  .deviconSize {
    height: 10px !important;
  }

  .photoGrid {
    padding-top: 15%;
  }

  .skillsSizing {
    color: #fff;
    font-size: 25px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

  .row {
    display: flex;
    flex-direction: column !important;
    width: 40% !important;
  }

  .SkillsContainer {
    display: contents;
    width: 100vh;
  }



  .heroBigText {
    font-size: 200px !important;
  }

  .heroBottom {
    font-size: 20px !important;
    bottom: 60px;
    position: relative;
  }

  .btn {
    margin-top: 5%;
  }

  .worksContainer {
    margin-top: 50% !important;
    padding-left: 5%;
    transform: scale(1.3);
  }
  
  #works {
    overflow: hidden;
  }
  




}












/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {

#skills {
  overflow: hidden;
}
  .container {
    width: 80%;
    height: 104%;
  }


  .heroImageMe {
    position: absolute;
    bottom: 0px;
    right: 50px;
    height: 55%;
    width: auto;
  }

  .info {
    padding-left: 10%;
  }

  #hero .info h1 {
    font-size: 3.4rem !important;
    padding-top: 10%;
  }

  #hero .info h2 {
    font-size: 3rem !important;
    margin-bottom: 2rem;
  }

  #hero .info p {
    font-size: 1.2rem !important;
    max-width: 50%;
  }

  .productLine.ver {
    width: 1px;
    height: 50px !important;
    margin-bottom: 6%;

  }

  .skillsSizing {
    color: #fff;
    font-size: 50px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 44px;
  }


  .spanText {

    font-size: 6.5px;
    width: 50%;

  }

  .aboutKnow {

    padding: 1%;
    font-size: 2.2rem !important;

  }

  .damionFont {
    font-size: 2.2rem !important;
   
  }


  .aboutText {
    font-size: .9rem;
    line-height: 1.3rem;
    margin-left: 3%;
    width: 100%;
  }

  canvas {
    width: 325px !important;
    height: 325px !important;
    margin-left: 21%;
    margin-top: 14% !important;
    padding: 8px;
}

  .skills {
    padding-top: 5%;
    border-bottom: 1px solid rgb(4 157 227) !important;
    display: flex;
    
  }

  .SkillsContainer {
    display: flex;
    height: 5%;
    flex-direction: initial;
}

  .p-5 {
    padding: 1rem !important;
  }

  .photoGrid {
    padding-top: 15%;
  }



  .heroBigText {
    font-size: 300px !important;
  }

  .heroBottom {
    font-size: 30px !important;
    bottom: 100px;
    position: relative;
  }

  .worksContainer {
    margin-top: 15% !important;
    padding-left: 5%;
    transform: scale(1.2);
  }
  
  #works {
    overflow: hidden;
  }





}






















/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .heroImageMe {
    position: absolute;
    bottom: 0px;
    right: 100px;
    height: 60%;
    width: auto;
  }

  #hero .info h1 {
    font-size: 3.7rem !important;
    padding-top: 10%;
  }

  #hero .info h2 {
    font-size: 3rem !important;
    margin-bottom: 1rem;
  }

  #hero .info p {
    font-size: 1.3rem !important;
    max-width: 70%;
    width: 45%;
  }

  .productLine.ver {
    width: 1px;
    height: 60px !important;
    margin-bottom: 3%;
  }

  .skillsSizing {
    color: #fff;
    font-size: 50px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }


  .spanText {

    font-size: 7.5px;
    width: 70%;

  }

  .aboutKnow {

    padding: 1%;
    font-size: 3rem !important;
  }

  .damionFont {
    font-size: 3rem !important;
  }


  .aboutText {
    font-size: .9rem;
    padding-left: 2%;
  }

  canvas {
    width: 370px !important;
    height: 370px !important;
    margin-top: 8%;
  }

  .container2 {
    padding: 5% !important;
  }

  .p-5 {
    padding: 2rem !important;
  }


  .info {
    color: white;
    font-size: 60px;
    padding-bottom: 20%;
    padding-left: 10%;
  }

  .worksContainer {
    margin-top: 10% !important;
    transform: scale(1.6);
  }
  
  #works {
    overflow: hidden;
  }

}












/* Media Query for Large screens */
@media (min-width: 1281px) {

  .heroImageMe {
    position: absolute;
    bottom: 0;
    right: 200px;
    height: 65%;
    width: auto;
    background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), ;
  }

  #hero .info h1 {
    font-size: 4rem !important;
    margin-bottom: 1rem;
  }

  #hero .info h2 {
    font-size: 3rem !important;
    margin-bottom: 2rem;
  }

  #hero .info p {
    font-size: 1.5rem !important;
    max-width: 70%;
    width: 40%;
  }

  .productLine.ver {
    width: 2px;
    height: 80px !important;
    margin-bottom: 5%;
  }

  .skillsSizing {
    color: #fff;
    font-size: 50px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 44px;
  }


  .spanText {

    font-size: 8px;
    width: 86%;

  }

  .info {
    padding-bottom: 20% !important;
    padding-left: 15%;
  }

  .worksContainer {
    margin-top: 10% !important;
    transform: scale(1.6);
  }
  
  #works {
    overflow: hidden;
  }




}


@media (min-width: 1500px) {
  .info {
    padding-bottom: 20% !important;
    padding-left: 25%;
  }

  .worksContainer {
    margin-top: 10% !important;
    transform: scale(1.6);
  }
  
  #works {
    overflow: hidden;
  }
  
  
}









/* Media Query for Extra Large screens */
@media (min-width: 1901px) {

  .heroImageMe {
    position: absolute;
    bottom: 0;
    right: 350px;
    height: 75%;
    width: auto;
  }

  .info {
    padding-bottom: 10%;
    margin-right: 10%;
}



#hero .info p {
  font-size: 1.5rem !important;
  max-width: 70%;
  width: 45%;
}

.productLine.ver {
  width: 2px;
  height: 80px !important;
  margin-bottom: 05%;
  margin-left: 0%;
}

.worksContainer {
  margin-top: 0% !important;
  transform: scale(1.3);
}

.worksHeader {
  color: white;
  display: flex;
  justify-content: center;
 
}

#works {
  overflow: hidden;
}


.tile-img {
  display: block;
  width: 90%;
  height: auto;
}

.diagLine{

  border-bottom: 3px solid rgb(4 157 227);
  
  width: 200%;
  margin-right: 50%;
  transform: rotate(90deg);
  
  transform-origin: left;
  
  }





}