nav ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

.btnSubmit {
  text-align: center;

}

.centeredText {
  text-align: center;
  line-height: 90px;
  font-size: 30px;
}

.textSmall {
  text-align: center;
  line-height: 10px;
  font-size: 10px;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: linear-gradient(rgba(255, 255, 255, 5), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  top: -56px;
  width: 400px;
  letter-spacing: 0.3rem;
}


.btn-outline-info:hover {
  background-color: #30a7ce;
}

.btn-outline-info {
  --bs-btn-color: #3f51b5;
}

.btnback {
  background: linear-gradient(rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.1));
}


Html,
body {
  overflow-x: hidden;
}

.forHover {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 0.8rem;
  padding: 40px;
  background: linear-gradient(rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.2));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 0.5rem;
  line-height: 2.5rem;
  z-index: 999;
}

.borderBox {
  border: 2px solid;
  padding: 20px;
  resize: both;
  overflow: auto;
  background: linear-gradient(rgb(55 116 133), rgba(255, 255, 255, 0));
  margin: auto !important;
  border: 1px rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 5px;
  height: 45vh;
  width: 87vh;
}

.borderBoxPort {
  border: 2px solid;
  padding: 20px;
  resize: both;
  overflow: auto;
  background: linear-gradient(rgb(55 116 133), rgba(255, 255, 255, 0));
  margin: auto !important;
  border: 1px rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 5px;
  height: 35vh;
  width: 80vh;
}

section:hover {
  transform: scale(1.2);
  background-size: cover;
  transition: transform 2s ease;
}

.borderBoxResume {
  border: 2px solid;
  padding: 20px;
  resize: both;
  overflow: auto;
  background: linear-gradient(rgb(55 116 133), rgba(255, 255, 255, 0));
  margin: auto !important;
  border: 1px rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 5px;
  height: 35vh;
  width: 70vh;
}

.borderBoxContact {
  border: 2px solid;
  padding: 20px;
  resize: both;
  overflow: auto;
  background: linear-gradient(rgb(55 116 133), rgba(255, 255, 255, 0));
  margin: auto !important;
  border: 1px rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 5px;
  width: 900px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borderBoxContact label {
  display: block;
}

nav li {
  align-content: space-between !important;
  padding: 50px;
}

.flex-row {
  justify-content: center;
}

.back {
  background-image: linear-gradient(rgba(0, 0, 0, -5), rgba(255, 255, 255, 0)),
    url("../img/background1.svg");
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 100px;
}

mx-2 {
  padding: 30px;
}

.aboutInfo {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  letter-spacing: 0.8rem;
}

h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 7rem;
  line-height: 12.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 5), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 0.8rem;
  padding: 5%;
}

.largeText {

  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 7rem;
  line-height: 5.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 5), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 0.8rem;
  padding: 5%;

}

.largerText {

  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3rem;
  line-height: 5.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 5), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 0.8rem;
  padding: 5%;

}

h2 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 13.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 5), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3rem;
  font-size: 3rem;
  line-height: 2.5rem;
  margin: auto !important;
}

.largeIcon {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 13.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 5), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3rem;
  font-size: 3rem;
  line-height: 2.5rem;
  margin: auto !important;
}

h3 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  line-height: 13.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 5), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1rem;
  line-height: 2.5rem;
  text-align: center;
}

h3:hover {
  background-color: #ffffff;
  transition: 0.7s;
}

h4 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 40px;
  background: linear-gradient(rgba(255, 255, 200, 1), rgba(255, 255, 255, 0.4));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1rem;
  line-height: 2.5rem;
}

h5 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  line-height: 13.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 5), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  font-size: 1rem;
  line-height: 2.5rem;
}

h6 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  background: linear-gradient(rgba(255, 255, 255, 1.2), rgba(255, 255, 255, .8));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 40px;
}

mx-2 {
  align-content: space-between;
}

.circle {
  animation: pulse 2s infinite;
}

.circle:hover {
  background-color: #ffffff;
  transition: 0.7s;
}

@font-face {
  font-family: varela-round;
  src: url("../fonts/varela-round/VarelaRound-Regular.ttf");
}

.varela-font {
  font-family: varela-round, sans-serif;
}

img {
  width: 500px;
  height: 300px;
  padding: 40px;
  border-radius: 20%;
  opacity: 85%;
}

.rounded {
  border: none;
  border-radius: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.1));

}


.selfie1:hover {
  transform: scale(1.2);
  background-size: cover;
  transition: transform 2s ease;
}

input {
  height: 40px;
}

textarea {
  height: 80px;
  width: 100%;
}

.selfie {
  width: 30vh;
  height: 30vh;
  padding: 40px;
  border-radius: 20%;
}

.selfie1 {
  width: 45vh;
  height: auto;
  padding: 40px;
  border-radius: 20%;
}

@keyframes pulse {
  0% {
    transform: scale(1.2);
    box-shadow: 0 0 0 0;
  }

  70% {
    transform: scale(1.5);
    box-shadow: 0 0 0 0;
  }

  100% {
    transform: scale(1.2);
    box-shadow: 0 0 0 0;
  }
}


@media screen and (max-width: 1300px) {
  .flex-row {
    flex-direction: column !important;
  }

  .flex-row h3 {
    text-align: center;
  }

  .div.col {
    flex-direction: row !important;
  }

  .mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
    padding-left: 2%;
    padding-right: 2%;
  }

  .borderBoxContact {
    width: 100%;
  }

  .borderBoxResume {
    width: 100%;
  }

  .borderBox {
    width: 100%;
  }
  .borderBoxPort {
    width: 100%;
  }

  section:hover {
    transform: scale(1);
  }

  .selfie {
    width: 43vh;
    height: 28vh;
    padding: 40px;
    border-radius: 20%;
}

  .selfie1:hover {
    transform: scale(1);
  }
}

@media screen and (max-width: 1000px) {
  .flex-row {
    flex-direction: column !important;
  }

  .flex-row h3 {
    text-align: center;
  }

  .div.col {
    flex-direction: column !important;
  }

  .mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
    padding-left: 2%;
    padding-right: 2%;
  }

  h6 {

    font-size: 1rem;
    line-height: 2.2rem;
    padding: 40px;
    width: 100%;
  }

  .textSmall {
    font-size: 3px;
  }

  .borderBoxPort {
    width: 100%;
  }

  .borderBoxContact {
    width: 100%;
  }

  .borderBoxResume {
    width: 100%;
  }

  .borderBox {
    width: 100%;
  }

  section:hover {
    transform: scale(1);
  }

  .selfie1:hover {
    transform: scale(1);
  }

  .selfie {
    width: 45vh !important;
    height: 34vh !important;
    padding: 40px;
    border-radius: 20%;
  }
}

@media screen and (max-width: 768px) {
  .flex-row {
    flex-direction: column !important;
  }

  .flex-row h3 {
    text-align: center;
  }

  .div.col {
    flex-direction: column !important;
  }

  .borderBoxContact {
    width: 100%;
  }

  .borderBoxResume {
    width: 100%;
  }

  .borderBox {
    width: 100%;
  }

  .borderBoxPort {
    width: 100%;
  }
  

  section:hover {
    transform: scale(1);
  }

  .selfie {
    width: 30vh !important;
    height: 35vh;
    padding-left: 20px; border-radius: 20%;
  }

  .selfie1:hover {
    transform: scale(1);
  }

  .textSmall {
    width: 100%;
  }

  h6 {
    font-size: .7rem;
    line-height: 1.5rem;

}
}

@media screen and (max-width: 480px) {
  .flex-row {
    flex-direction: column !important;
  }

  .div.col {
    flex-direction: column !important;
  }

  .flex-row h3 {
    text-align: center;
  }

  .borderBoxContact {
    width: 100%;
  }

  .borderBoxResume {
    width: 100%;
  }

  .borderBox {
    width: 100%;
  }

  .borderBoxPort {
    width: 60vh;
  }

  section:hover {
    transform: scale(1);
  }

  .selfie {
    width: 54vh !important;
    height: 35vh;
    margin: 1.5vh;
    padding-right: 35px;
    border-radius: 20%;
  }

  .selfie1:hover {
    transform: scale(1);
  }

h6 {
    padding-top: 10px !important;
    width: 47vh;
    height: 25vh;
    margin: 5vh;
    font-size: .5rem;
    padding-right: 25px;
}

  .forHover {
    position: fixed;
    right: 80%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: 0.8rem;
    padding: 40px;
    background: linear-gradient(rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.2));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 0.5rem;
    line-height: 2.5rem;
    text-orientation: upright;
    writing-mode: vertical-rl;
    z-index: 999;
  }

}


@media screen and (min-width: 991px) {
  section:hover {
    transform: scale(1);
    background-size: cover;
    transition: transform 2s ease;
  }

  .selfie1:hover {
    transform: scale(1);
  }
}

@media (min-width: 700px) {
  .show-mobile {
    display: none;
  }

  .hidden-mobile {
    display: block;
  }
}

@media (max-width: 300px) {
  .show-mobile {
    display: block;
  }

  .hidden-mobile {
    display: none;
  }
}